<h1 class='text-center'>How Old Is Cacho ???</h1>

<div class='text-center'>
  <img src=<%= asset_path('cachin.png') %> style='height: 70vh;'>
</div>

</br>

<div class='container text-center'>
  <% (20..40).each do |i| %>
    <button id=<%= i %> type="button" class="btn btn-primary m-2"><%= i %></button>
  <% end %>
</div>
